/*PADDING*/
.p-t-5 {padding-top: 5px;}
.p-t-45 {padding-top: 45px;}
.p-b-5 {padding-bottom: 5px;}
.p-b-9 {padding-bottom: 9px;}
.p-b-36 {padding-bottom: 36px;}
.p-b-45 {padding-bottom: 45px;}
.p-b-60 {padding-bottom: 60px;}
.p-l-75 {padding-left: 75px;}
.p-r-75 {padding-right: 75px;}

/*MARGIN*/
.m-t-15 {margin-top: 15px;}
.m-l-10 {margin-left: 10px;}
.m-r-5 {margin-right: 5px;}
.m-r-10 {margin-right: 10px;}



.flex-w,
.flex-l,
.flex-r,
.flex-c,
.flex-sa,
.flex-sb,
.flex-t,
.flex-b,
.flex-m,
.flex-str,
.flex-c-m,
.flex-c-t,
.flex-c-b,
.flex-c-str,
.flex-l-m,
.flex-r-m,
.flex-sa-m,
.flex-sb-m,
.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-row,
.flex-row-rev,
.flex-col,
.flex-col-rev,
.dis-flex {
	display: flex;
}



.flex-w {
	flex-wrap: wrap;
}

.flex-l {
	justify-content: flex-start;
}

.flex-r {
	justify-content: flex-end;
}

.flex-c {
	justify-content: center;
}

.flex-sa {
	justify-content: space-around;
}

.flex-sb {
	justify-content: space-between;
}

.flex-t {
	align-items: flex-start;
}

.flex-b {
	align-items: flex-end;
}

.flex-m {
	align-items: center;
}

.flex-str {
	align-items: stretch;
}

.flex-c-m {
	justify-content: center;
	align-items: center;
}

.flex-c-t {
	justify-content: center;
	align-items: flex-start;
}

.flex-c-b {
	justify-content: center;
	align-items: flex-end;
}

.flex-c-str {
	justify-content: center;
	align-items: stretch;
}

.flex-l-m {
	justify-content: flex-start;
	align-items: center;
}

.flex-r-m {
	justify-content: flex-end;
	align-items: center;
}

.flex-sa-m {
	justify-content: space-around;
	align-items: center;
}

.flex-sb-m {
	justify-content: space-between;
	align-items: center;
}

.flex-col-l {
	align-items: flex-start;
}

.flex-col-r {
	align-items: flex-end;
}

.flex-col-c {
	align-items: center;
}

.flex-col-str {
	align-items: stretch;
}

.flex-col-t {
	justify-content: flex-start;
}

.flex-col-b {
	justify-content: flex-end;
}

.flex-col-m {
	justify-content: center;
}

.flex-col-sb {
	justify-content: space-between;
}

.flex-col-sa {
	justify-content: space-around;
}

.flex-col-c-m {
	align-items: center;
	justify-content: center;
}

.flex-col-l-m {
	align-items: flex-start;
	justify-content: center;
}

.flex-col-r-m {
	align-items: flex-end;
	justify-content: center;
}

.flex-col-str-m {
	align-items: stretch;
	justify-content: center;
}


.flex-col-c-t {
	justify-content: flex-start;
	align-items: center;
}

.flex-col-c-b {
	justify-content: flex-end;
	align-items: center;
}

.flex-col-c-sb {
	justify-content: space-between;
	align-items: center;
}

.flex-col-c-sa {
	justify-content: space-around;
	align-items: center;
}

.flex-row {
	flex-direction: row;
}

.flex-row-rev {
	flex-direction: row-reverse;
}

.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col {
	flex-direction: column;
}

.flex-col-rev {
	flex-direction: column-reverse;
}

.ab-c-m {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ab-c-t {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.ab-c-b {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.ab-l-m {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.ab-r-m {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.ab-t-l {
	position: absolute;
	left: 0px;
	top: 0px;
}

.ab-t-r {
	position: absolute;
	right: 0px;
	top: 0px;
}

.ab-b-l {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.ab-b-r {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

